  sites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.confe 

# temp makefiles
*.mk
# 
kern/compile/*

# elf file
1
bin/cat/cat
bin/cp/cp
bin/false/false
bin/ln/ln
bin/ls/ls
bin/mkdir/mkdir
bin/mv/mv
bin/pwd/pwd
bin/rm/rm
bin/rmdir/rmdir
bin/sh/host-sh
bin/sh/sh
bin/sh/sh.ho
bin/sync/sync
bin/true/true
lib/hostcompat/err.ho
lib/hostcompat/hostcompat.ho
lib/hostcompat/libhostcompat.ha
lib/hostcompat/time.ho
sbin/dumpsfs/disk.ho
sbin/dumpsfs/dumpsfs
sbin/dumpsfs/dumpsfs.ho
sbin/dumpsfs/host-dumpsfs
sbin/dumpsfs/support.ho
sbin/halt/halt
sbin/mksfs/disk.ho
sbin/mksfs/host-mksfs
sbin/mksfs/mksfs
sbin/mksfs/mksfs.ho
sbin/mksfs/support.ho
sbin/poweroff/poweroff
sbin/reboot/reboot
testbin/add/add
testbin/addexec/addexec
testbin/argtest/argtest
testbin/badcall/badcall
testbin/bigprog/bigprog
testbin/btree/btree
testbin/console/console
testbin/crash/crash
testbin/draw/draw
testbin/exittest/exittest
testbin/facts/facts
testbin/farm/farm
testbin/faulter/faulter
testbin/fork/fork
testbin/forkbomb/forkbomb
testbin/randcall/randcall
testbin/sbrk/sbrk
testbin/sort/sort
testbin/stacktest/stacktest
testbin/sty/sty
testbin/tictac/tictac
testbin/timeit/timeit
testbin/triplebigprog/triplebigprog
testbin/triplehuge/triplehuge
testbin/triplemat/triplemat
testbin/triplesort/triplesort
testbin/wait/wait
testbin/forkexecbomb/forkexecbomb
testbin/forktest/forktest
testbin/hasher/hasher
testbin/hog/hog
testbin/huge/huge
testbin/malloctest/malloctest
testbin/matmult/matmult
testbin/multiply/multiply
testbin/palin/palin
testbin/parallelvm/parallelvm
testbin/printf/printf

# add asm files
lib/libc/syscalls.S
testbin/randcall/calls.c





